<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to da learnify</h1>
    <p>By: Beckett Cornell and Max Lin</p>
    <a href="/submitmsg">
        <button>UpLoad</button>
    </a>
    <a href="/login">
        <button>login</button>
    </a>
    <a href="/signup">
        <button>signup</button>
    </a>
    <a href="/viewposts">
        <button>viewposts</button>
    </a>
</body>
</html>

